.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;

  .sidebar-title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: normal;
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .option {
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
      padding: 10px 0;

      .text {
        font-size: 16px;
      }

      i {
        color: #fff;
        font-size: 20px;
      }
    }
  }
}
