.header {
  text-align: center;
  margin: 20px 60px;
  color: white;
}

.main-text {
  font-size: 3rem;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 15px;
}

.sub-text {
  font-size: 1.25rem;
  margin: 0 100px 0;
  font-family: Barlow, sans-serif;
}
