<div class="navbar">
  <div class="logo">
    <img routerLink="home" src="alliance-white.png" alt="" srcset="" />
  </div>
  <div class="options">
    @for (option of this.options; track $index) {
    <a [routerLink]="option.path" routerLinkActive="active" class="option">
      {{ option.label }}
    </a>

    } @if (!this.cache.isLoggedIn()) {
    <p-button size="small" label="Sign in" icon="pi pi-sign-in" [loading]="this.cache.isValidatingToken()" (onClick)="redirectToCognito()" />

    }@else {
    <p-button size="small" label="Log out" icon="pi pi-sign-in" [loading]="this.cache.isValidatingToken()" (onClick)="logOut()" />
    }
  </div>
</div>
