<div class="sp">
  @for (field of this.fields; track $index) {
  <div>
    @switch (field.type) { @case ('section') {

    <div [attr.i]="$index" [attr.j]="this.index" class="section" draggable="true" (drop)="drop($event)" (dragover)="dragover($event, field.type)">
      Section
      <app-dynamic-component-selector [parent]="field" [index]="this.index + 1" [fields]="field.fields"></app-dynamic-component-selector>
    </div>

    } @case ('block') {
    <div [attr.i]="$index" [attr.j]="this.index" class="block" draggable="true" (drop)="drop($event)" (dragover)="dragover($event, field.type)">
      Block
      <!-- <div class="drag-box" (drop)="drop($event)" (dragenter)="dragenter($event)" (dragover)="dragover($event)" (dragleave)="dragleave($event)"></div> -->

      <app-dynamic-component-selector [parent]="field" [index]="this.index + 1" [fields]="field.fields"></app-dynamic-component-selector>
    </div>

    } @case ('title') {
    <div [attr.i]="$index" [attr.j]="this.index" class="title {{ this.dynamicSelectorSE.orderMode ? 'order-mode' : '' }}" (dragstart)="dragstart($event, field, $index)" (dragend)="dragend($event)" (dragenter)="dragenter($event, field, $index)" draggable="true">
      <div class="dropper"></div>
      <strong>title</strong>
    </div>
    } @case ('input') {
    <div [attr.i]="$index" [attr.j]="this.index" class="input {{ this.dynamicSelectorSE.orderMode ? 'order-mode' : '' }}" (dragstart)="dragstart($event, field, $index)" (dragend)="dragend($event)" (dragenter)="dragenter($event, field, $index)" draggable="true">
      <div class="dropper" draggable="false" style="pointer-events: none"></div>
      <input type="text" draggable="false" style="pointer-events: none" />
    </div>

    } @default { Default case. } }
  </div>
  }
</div>
