.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding-top: 130px;


  .column {
    flex: 1;

    .title {
      color: #00b6ff;
      margin: 0;
    }

    .cta {
      margin: 30px 0;
    }

    .cta-link {
      color: white;
      margin-top: 30px;
    }

    .box {
      background-color: white;
      color: #035ba9;
      padding: 10px 30px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);

      p {
        color: #777c83;
      }
    }

    .data-container {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-top: 30px;

      img {
        width: 150px;
      }

      p {
        margin: 0;
      }
    }
  }

  .second-column {
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      background: linear-gradient(135deg, white, #223b5e);
      padding: 0.8px;
      border-radius: 31px;
      width: 300px;
      height: 300px;
      display: flex;

      .card-content {
        background: linear-gradient(135deg, #60728b, #223b5e);
        border-radius: 31px;
        position: relative;
        height: 100%;
        width: 100%;

        .card-image {
          display: block;
          width: 100%;
          position: absolute;
          bottom: 0;
        }

      }


    }
  }
}
