<div class="footer">
  <div class="navigation">
    <div class="logo">
      <img src="alliance-white.png" alt="logo" />
    </div>

    @for (nav of navigationList; track $index) {
    <div class="options">
      <div class="title">{{ nav.title }}</div>
      @for (option of nav.options; track $index) {
      <div class="option">{{ option.title }}</div>
      }
    </div>
    }
  </div>
  <hr />
  <div class="copyright">© 2024 Alliance of Bioversity and CIAT | All rights reserved.</div>
</div>
